<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MysteryGuest_INC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <MysteryGuest_INC.Properties.Settings>
            <setting name="GameDatabase_ConnectionMethod" serializeAs="String">
                <value>ODBC</value>
            </setting>
            <setting name="GameDatabase_Server" serializeAs="String">
                <value>KN_online</value>
            </setting>
            <setting name="GameDatabase_User" serializeAs="String">
                <value>knight</value>
            </setting>
            <setting name="GameDatabase_Password" serializeAs="String">
                <value>knight</value>
            </setting>
            <setting name="GameDatabase_DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="GameDatabase_TestPassed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AccountDatabase_ConnectionMethod" serializeAs="String">
                <value>ODBC</value>
            </setting>
            <setting name="AccountDatabase_Server" serializeAs="String">
                <value>KN_online</value>
            </setting>
            <setting name="AccountDatabase_User" serializeAs="String">
                <value>knight</value>
            </setting>
            <setting name="AccountDatabase_Password" serializeAs="String">
                <value>knight</value>
            </setting>
            <setting name="AccountDatabase_DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountDatabase_TestPassed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveDatabaseSettings" serializeAs="String">
                <value>1</value>
            </setting>
        </MysteryGuest_INC.Properties.Settings>
    </userSettings>
</configuration>
